@page "/languagecottage"
@layout DefaultLayout
@using Interfaces;
@using Dtos;
@using Dialogs;
@inject Radzen.DialogService DialogService
@inject ILcService LcService

<style>
    .dialog{
        top: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/6 + 20px);
    }

    .card{

    }
</style>

<h3>LanguageCottage</h3>

<MudContainer MaxWidth="MaxWidth.Medium">
    @foreach(LcDto lc in lcDtoDisplayList)
    {
        <MudCard Class="card">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <!--placeholder-->
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@lc.RecordId</MudText>
                    <MudText Typo="Typo.body2">placeholder</MudText>
                </CardHeaderContent>
                <!--Only show this control if current login mode is admin-->
                <!--or maybe make it check a boolean from a button on page that triggers the edit mode?-->
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" OnClick="lcEdit"/>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="@lc.ImageUrl" Height="100" Title="@lc.RecordId"/>
            <MudCardContent>
                <MudText Typo="Typo.body2">@lc.Commentary</MudText>
            </MudCardContent>
        </MudCard>
    }
</MudContainer>

<div>
    <MudFab StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" aria-label="Upload" OnClick="lcUpload"></MudFab>
    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</div>

@code {
    List<LcDto> lcDtoDisplayList = new();

    protected override async Task OnInitializedAsync()
    {
        lcDtoDisplayList = await LcService.GetAllLcRecord();

        foreach (LcDto lc in lcDtoDisplayList)
        {
            lc.RecordId = "#" + lc.RecordId;
            lc.ImageUrl = "data:image/jpeg;base64," + Convert.ToBase64String(lc.Image);
        }

        await base.OnInitializedAsync();
    }

    private void lcUpload()
    {
        DialogService.OpenAsync<LcDialog>("New LC Upload", null, new Radzen.DialogOptions() { CssClass="dialog", Draggable = false, Height="85%" });
    }

    private void lcEdit()
    {
        DialogService.OpenAsync<LcDialog>("Edit LC Record", null, new Radzen.DialogOptions() { CssClass = "dialog", Draggable = false, Height = "85%" });
        
    }
}
