<LoadingSplashScreen>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
                <p role="alert">You probably forgot to pass some parameter or set some nav address again.</p>
            </LayoutView>
        </NotFound>
    </Router>
</LoadingSplashScreen>
    
